.cities-by-color-container{
    width: 65%;
    flex-shrink: 0;
}
.cities-by-color-container.black-theme>.extra-large-chart-container>.cities-container>.titles-container{
    background: $black-dark;
    .city-title{
        background-color: unset;
    }
}
.top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
}
.search-tag{
    margin: 20px 0px 0px 40px;
}
.search-wrapper{
   
    background: white;
    border-radius: 10px;
    border: 1px solid $blue-dark;
    flex-shrink: 0;
    height: 30px;
    .fas.fa-search{
        position: relative;
        right: 6px;
        top:1px;
    }
}
.search-input{
    height: 1.5rem;
    
    background: transparent;
    border: none !important;
    outline: none !important;
    padding-right: 10px;
}

.title-wrapper{
    
    h3{
        margin-bottom: 0px;
    }
    h4{
        margin-top: 0px;
        font-size: .75rem;
    }
}
.flex-row-wrapper.none-width{
    width: unset;
}
.legends-container{
    display: flex;
}
.legend-container{
    display: flex;
    margin: 0px 5px;
}
.legend-color{
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 5px;
    border-radius: 5px;
}
.legend-title{
    font-size: .8rem;
}
.legend-subtitle{
    font-size: .8rem;
    font-weight: 200;
}
.titles-container{
    margin-top:15px;
    display: flex;
   width: 100%;
}
.city-title{
    font-size: .8rem;
    width:18% ;
    padding: 5px 10px;

    &.center{
        display: flex;
        justify-content: center;
    }
}
.cities-list{
    padding: 0px;
}
.line-container{
    display: flex;
    border-bottom: 1px solid $blue-dark;
    padding-bottom: 5px;
}
.data-container{
    width: 16%;
    padding-right: 10px;
    display: flex;
    font-size: .85rem;
    font-weight: 200;
   &.center{
    justify-content: center;
   }
}
.city-name{
    font-weight: 600;
}
.city-grade{
    padding: 5px;
    margin-top: -7px;
    text-decoration: underline;
    border-radius: 5px;
    font-weight: 600;
}
.chart-card{
    margin: 10px 5px;
}
@media(max-width:$desktop-break-point-1){
    #city-and-test-section{
        flex-flow: column;
    }
    .cities-by-color-container{
        width: 100%;
    }
    .search-tag{
        flex-flow: column;
    }
}
@media(max-width:$desktop-break-point){
   
    .search-tag{
        flex-flow: column;
    }
}