.main-page-container{
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.spread-weekly{
    background: white;
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
.weekly-charts-container{
    display: flex;
    justify-content: center;
    
}
.lookup{
 display: flex;   
 align-items: center;
 background: $gray-greeny;
 padding: 5px;
    border-radius: 50px;
    i{
        margin-left: 5px;
    }
}

.lookup-text{
    font-size: .75rem;
    font-weight: 300;
}
    
    

.weekly-chart-container{
    padding: 10px;
    border: 1px solid $gray-blur;
    border-left: none;
    flex-shrink: 1;
    &:last-child{
        border-left:  1px solid $gray-blur;
    }
}
.flex-shrink-1{
    flex-shrink: 2;
}

.medium-chart-container{
   height: 250px;
   
}
.large-chart-container{
    width: 100%;
    height: 250px;
    margin-top: -55px;
    margin-right: -28px;
}
.epidemic-chart-container{
    width: 60%;
}
.title-filter-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top:15px ;
    align-items: center;
}
.seriously-ill-and-respiratory-chart-container{
    width: 40%;
    margin-right: 10px;
}

#epidemic-curve-chart{
    margin-top: -55px;
    margin-right: -28px;
    
}


