.main-page-container{
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    
}
.main-page-container.black-theme{
    background-color: #49667a;
}
.lookup{
 display: flex;   
 align-items: center;
 background: $gray-greeny;
 padding: 5px;
    border-radius: 50px;
    i{
        margin-left: 5px;
    }
}

.lookup-text{
    font-size: .75rem;
    font-weight: 300;
}
.lookup.black-theme{
    background:$black-dark ;
    color: white;
    i.fa-info-circle{
        color:$black-darker ;
        background: white;
        border-radius: 100%;
        border:1px solid $black-darker ;
    }
}   
.black-theme>*{
    color: white;
} 


.flex-shrink-1{
    flex-shrink: 2;
}

.medium-chart-container{
   height: 250px;
   
}
.large-chart-container{
    width: 100%;
    height: 250px;
    margin-top: -55px;
    margin-right: -28px;
}
.epidemic-chart-container{
    width: 60%;
}
.title-filter-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top:15px ;
    align-items: center;
}
.seriously-ill-and-respiratory-chart-container{
    width: 40%;
    margin-right: 10px;
}

#epidemic-curve-chart{
    margin-top: -55px;
    
    
}
.chart-card{
    width: 100%;
}
.chart-card.black-theme{
    background: $black-bright;
}
@media(max-width:$desktop-break-point-1){
    #city-and-test-section{
        flex-flow: column;
    }
}
@media(max-width:$desktop-break-point-2){

.epidemic-chart-container{
    width: 100%;
    padding: 0px 25px;
}
.seriously-ill-and-respiratory-chart-container{
    width: 100%;
    padding: 0px 25px;
}
}