.menu-container.close{
 max-width: 0px;
 overflow: hidden;
}
.menu-container.open{
    max-width: 6rem;
}
.menu-container{
    height: 100vh;
    display: flex;
    flex-flow: column;
   align-items: flex-start;
   background: $gray-blueish;
   width: 100px;
   
    transition: max-width .2s linear;

}
.navigator-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    direction: rtl;
    flex-shrink: 0;
}
.menu-link{
text-align: center;
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;
margin: 15px 0px;
margin-left: auto;
color:$gray-blur;
font-size: .8rem;
height: 5rem;
min-width: 77px;
padding-right: 5px;
white-space:nowrap;

}
.menu-link.selected{
    border-right: 3px solid $blue-bright;
    span{
        color:$blue-bright;
    }
}
.login-container{
    display: flex;
    flex-flow: row;
}
.login{
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 0px;
    transition: max-width .5s linear;
    padding: 10px;
}
.login-input{
    margin: 0px 10px;
}
.login.show{
    position: relative;
    height: 100%;
    background: $gray-blueish;
    max-width: 600px;
}
.login-button{
    background: white;
    color: $gray-blueish;
}