$desktop-break-point:980px;


//colors
$gray-blur:#bebebe;
$gray-blueish:#374f60;
$blue-bright:#19d6e5;
$red-pinky:#fb5377;
$gold-blur:#e6b957;
@mixin remove-button-defaults{
    overflow: visible; 
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit; 
    line-height: normal;
  
    cursor: pointer; 
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
        outline: none;
    }
}
*{
font-family: 'Heebo', sans-serif;}