html{
    overflow-x: hidden;
}
body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}
h1{
    font-size: 1.2rem;
    height: 75px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    
}
h3{
    font-size: .95rem;
}
.main-section{
    direction: rtl;
    display: flex;
    width: 100%;
    background: #edf1f7;
    p
  {
      position: relative;
      width: 100%;
    
  }
}
.flex-row{
    display: flex;
}
.flex-row.center{
    justify-content: space-evenly;
}
.flex-row.space-between{
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flex-row-wrapper{
    display: flex;
    width: 100%;
}
.redpink-bg{
    background-color: $red-pinky;
}
.yellow-bg{
    background-color: $gold-blur;
}
.red-bg{
    background-color: $red-zone;
}
.orange-bg{
    background-color: $orange-zone;
}
.bright-yellow-bg{
    background-color: $yellow-zone;
}
.green-bg{
    background-color: $green-zone;
}
.blue-bright-bg{
    background-color: $blue-soft;
}
.blue-dark-bg{
    background-color: $blue-dark;
}
.blue-sky-bg{
    background:$blue-sky;
}
.blue-bright-color{
   color:$blue-bright
}
